
.standardSpacing {
    margin: 0 auto;
    max-width: 1080px;
    padding: 1rem 1.5rem;
}

.content {
    margin: 0 auto;
    max-width: 1080px;
    padding: 0 2rem;
}

@media screen and (max-width: 600px) {
    .content {
        padding: 0 1rem;
    }
}