.welcomeContainer {
    background-color: #FAFAFA;
}

.bioContainer {
    background-color: #E7F9FC;
}

.copyContent {
    margin: 0 auto;
    max-width: 960px;
    padding: 2rem 4rem;
}

@media screen and (max-width: 600px) {
    .copyContent {
        padding: 1rem;
    }
}

.linkContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin: 0 .5rem;
    padding: .5rem 0;
    min-width: 120px;
    
    text-decoration: none;
    text-align: center;
    color: #1A1A1A;
}
