.blog {
  display: flex;
  align-items: center;
  margin: 4px auto 12px auto;

  border-bottom: 1px solid var(--color-text);
}

.description {
  flex: 1;
}

.title {
  color: var(--color-text);
  text-decoration: underline;
  transition: all 0.2s ease;
}

.title:hover {
  color: var(--color-accent);
}