.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: .5rem 3rem;
    margin: .5rem 3rem;
    border-bottom: 6px solid #C8F4F9;
}

@media only screen and (max-width: 600px) {
    .header {
        padding: 0;
        margin: 1rem 1.5rem;
    }
}
