.container {
    display: flex;
    flex-wrap: wrap;
    background-color: #FFF;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 1.45rem;
    justify-content: space-around;
    max-width: 30rem;
}

.linkContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    margin: .5rem;
    text-decoration: none;
    color: #1A1A1A;
    width: 100px;
    height: 128px;
}